    
*{text-align: center;
    text-transform: capitalize;
    margin-top:20px;}
    
    /*hover*/
    .o:hover{color: tomato;
    font-size: 30px;}
    
    div p{font-weight: bold;
    font-size: 20px;}
    
    div{border:1px solid black;
    width:200px;
    height: 200px;
    margin-left: 35%;
    padding: auto;
    outline:2px solid black;
    outline-offset: -10px;
    outline-style: dashed;
    }
    
    ul{list-style: none;
    margin-right: 300px;
    line-height: 3px;}
    
    ul li::before{content: "\2022";
    color: rgb(15, 163, 52);
    }
    
    